.Pokecard {
    display: inline-block;
    width:10%;
    background-color: lightgray;
    border-radius: 10px;
    text-align: center;
    padding: 10px;
    margin: 10px;
}
.pokecard-name {
    color: blue;
    font-weight: bold;
  }

h1 {
    text-align: center;
    color: grey;
}